.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
.grad {
  background: linear-gradient(130deg, blue, rgb(158, 2, 111), yellow);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.fixed-footer {
  padding: 10px;
  
}
.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-gradient {
  background: linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #1e30f3;
  border-radius: 5px;
  /* Use a gradient border instead of a border image */
  border-image: none;
  border-color: linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  padding: 10px 20px;
}
.btn-gradient:hover {
  background: linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-text-fill-color: #fff;
  border: 1px solid transparent;
}